* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Diseño de columnas*/

.column-1 {
    width: 100%;
    float: left;
}

.column-2 {
    width: 50%;
    float: left;
}

.column-3 {
    width: 33.33%;
    float: left;
}

.column-4 {
    width: 25%;
    float: left;
}

.column-5 {
    width: 20%;
    float: left;
}

@media only screen and (max-width: 600px) {
    /*reglas*/
    /*column-3 pasara de tener 33'3%*/
    .column-3 {
        width: 100%;
    }
    /*coumn-4 pasara de tener 25% a 50%*/
    .column-4 {
        width: 50%;
    }
    #decima {
        width: 100%;
    }
}